/* .seo-card-1 {
    position: absolute;
    width: 442px;
    height: 66px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;

}

.seo-card-2 {
    position: absolute;
    width: 440px;
    height: 66px;
    margin-top: 226px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.seo-card-3 {
    position: absolute;
    width: 441px;
    height: 66px;
    left: 762px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;

}

.seo-card-4 {

    position: absolute;
    width: 442px;
    height: 66px;
    left: 762px;
    margin-top: 226px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;

} */