.product-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    /* Убрать марджин */
}

.product-list-index {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 50px;

}


.product-card {
    margin-right: 30px;
}

.product-name {
    display: flex;
    flex-direction: column;
}

.product-list-index {
    list-style-type: none;
    padding-inline-start: 0;


}